* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
header {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid hsla(0, 10%, 69%, 0.267);
  box-shadow: 0 0 8px rgb(0, 0, 0, 0.4);
  margin-bottom: 24pt;
}
ul,
li,
ol {
  /* khử định dạng * đi*/
  list-style: none;
}
.nav {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center; /*canh giữa trên dưới*/
}
.nav-item {
  margin-right: 12px;
}
.nav-item > a {
  padding: 6px 12px;
  text-decoration: none; /* ẩn dấu gạch chân của thẻ*/
  color: rgb(61, 165, 239);
  font-size: 18px;
  font-weight: 800;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
}
.nav-item > a:hover {
  background-color: rgb(61, 165, 239);
  color: azure;
  box-shadow: 0 0 6px rgb(56, 170, 250);
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; /*mẹo đưa footer xuống dưới chân*/
  bottom: 0;
  height: 40px;
  width: 100%;
  border: 1px solid #ccc;
  box-shadow: 0 0 6px rgb(0, 0, 0, 0.4);
}

.list-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product-card {
  width: 300px;
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin: 12px;
}

.product-card > img {
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-bottom: 12px;
  height: 140px;
}
.product-card > .product-infor {
  padding: 0 12px 12px;
}
.product-infor > h3 {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 12px;
}
.product-infor > p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 12px;
  color: red;
}
